{% extends "base_template.html" %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Facturación</h4>
                <form action="/procesarpago" method="POST"> {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Nombres<span>*</span></p>
                                        <input type="text" name="nombres" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Apellidos<span>*</span></p>
                                        <input type="text" name="apellidos" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    <input type="number" name="telefono" required>
                                </div>
                            </div>
                        
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Email<span>*</span></p>
                                <input type="email" name="correo" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Tipo documento<span>*</span></p>
                                <select name="tipo_doc" id="id_tipo_doc">
                                    <option value="Cc" selected="">Cédula</option>
                                    <option value="Pa">Pasaporte</option>
                                    <option value="Ce">Cédula Extrangeria</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Documento<span>*</span></p>
                                <input type="number" name="doc_identificacion" required>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Dirección<span>*</span></p>
                        <input type="text" name="dir_envio" placeholder="Por favor incluya número " class="checkout__input__add" required>
                       </div>
                    <div class="checkout__input">
                        <p>Ciudad/Municipio<span>*</span></p>
                        <input type="text" name="ciudad" required>
                    </div>
                    <div class="checkout__input">
                        <p>Notas de la orden<span>*</span></p>
                        <input type="text" 
                        placeholder="Notas sobre tu orden, e.g. horarios de entrega, indicaciones ">
                    </div>


                    </div>
                            
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Tu orden</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul>

                                    {% for product in shopping_list %}
                                        <li>{{product.nombre}} (x{{product.quantity}}) <span>${{product.total}}</span></li>
                                    {% endfor %}

                                </ul>
                                <div class="checkout__order__subtotal">Subtotal (sin iva)<span>${{request.session.shop_cart.total_valor}}</span></div>
                                <div class="checkout__order__subtotal">Iva <span>${{impuesto}}</span></div>
                                <div class="checkout__order__total">Total <span>${{total_carrito_impuesto}}</span></div>
             
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Forma de pago </br>
                                        <select name="forma_pago" id="forma_pago">
                                            <option value="PSE" selected="">PSE</option>
                                            <option value="Tj">Tarjeta Crédito</option>
                                            <option value="Py">Paypal</option>
                                            <option value="Mp">Mercado Pago</option>

                                        </select>
                                       
                                    </label>
                                </div>
                                <input type="hidden" name="valor_total" value="{{request.session.shop_cart.total_valor}}" required>
                                <input type="hidden" name="impuestos" value="{{impuesto}}" required>
                                <input type="hidden" name="total" value="{{total_carrito_impuesto}}" required>
                                <button type="submit" class="site-btn">Proceder al pago</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    {% endblock %}